header h1{
    text-align: center;
}

.container{
    display: grid;
    margin-top: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 100px 10px;
    background-image: url('https://media.discordapp.net/attachments/1216577629071867915/1394073234051174461/QIYAM7O33FDS3AFKW775HBXX4I.png?ex=68757b5f&is=687429df&hm=bd051ed77eeaa6ec1c63b7e675b55bcb516a32740603c941276e5379007d9a8b&=&format=webp&quality=lossless&width=635&height=953');
    background-size: cover;
    background-position: center;
    background-position-y: -450px;
    background-repeat: no-repeat;
}

.box{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    align-content: center;
    text-wrap-mode: wrap;
}

